#separator{
	border-top: 1px solid gray;
}

#menu li {
	display: inline-block;

	border-left: 1px solid gray;
	padding-left: 10px;
	border-right: 1px solid gray;
	padding-right: 10px;
}

/* #menu a{
	color: black;
	text-decoration: none;
} */
